[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-filter = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
